/* Reset de estilo básico */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul,
ol {
  list-style: none;
}

/* Otros estilos de reset opcionales */
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
